@media screen and (min-width:426px){.TC{
    margin-bottom: 10%;
.border1{
    width: 10%;
    height: 15%;
    position: absolute;
    margin-left: 85%;
    margin-top: -5%;
    border-top: 5px #ffa1a1 solid;
    border-right: 5px #ffa1a1 solid;
}
.TC-container{
    padding-top: 5%;
    background-color: #f2dde5;
    position: absolute;
    margin-left: 2%;
    width: 90%;
    height: 50%;
    z-index: 0;
    h1{
        font-size: 57   5%;
    }
}
.TC-cards{
    padding-top: 15%;
    display: flex;
.card1,.card2,.card3{
    z-index: 2;
    font-size: 120%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 7.5%;
    background:linear-gradient(30deg,#fb2f7b,#ff845d);
    color: white;
    text-align: start;
    width: 25%;
    height: 50%;
}
}
}
}
@media screen and (max-width:425px){
    .TC{
        margin-bottom: 10%;
    .border1{
        width: 10%;
        height: 15%;
        position: absolute;
        margin-left: 85%;
        margin-top: -5%;
        border-top: 5px #ffa1a1 solid;
        border-right: 5px #ffa1a1 solid;
    }
    .TC-container{
        padding-top: 5%;
        background-color: #f2dde5;
        position: absolute;
        margin-left: 2%;
        width: 90%;
        height: 50%;
        z-index: 0;
        h1{
            font-size: 415%;
        }
    }
    .TC-cards{
        padding-top: 95%;
        display: flex;
        font-size: 160%;
        flex-direction: column;
    .card1,.card2,.card3{
        z-index: 2;
        margin-bottom: 15%;
        padding-top: 3%;
        padding-bottom: 3%;
        margin-left: 3.5%;
        background:linear-gradient(30deg,#fb2f7b,#ff845d);
        color: white;
        text-align: start;
        width: 85%;
        height: 50%;
    }
    }
    }
}