@media screen and (min-width:426px){
    .Instructors{
        h1{
            font-size: 575%;
        }
    .Instructors-container{
        display: flex;
        margin-bottom: 10%;
        aside {
            display: block;
            position: relative;
            font-size: 115%;
            padding-right: 35%;
            margin: 40px 0;
            border-left: 74px solid #f2dde5 ;
            padding-left: 10%;
          }
          p{
            text-align: right;
            font-size: 120%;
          }
          aside h3 {
            padding-left: 10%;
            font: bold 12px Sans-Serif;
            font-size: 175%;
            color: #241b1e;
            padding: 15px;
            position: absolute;
            top: 0;
            left: 0;
            /* Border is the new background */
            background: none;
            /* Rotate from top left corner (not default) */
            transform-origin: 0 0;
            transform: rotate(-90deg);
            margin: 30% 0 0 -5%;
            line-height: 24px;
          }
        .Instructors-Img{
            position: absolute;
            width: 25%;
            margin-top: 5%;
            margin-left: 70%;
            height: 70%;
            border: 10px solid rgb(255, 161, 161);
            background-image: url("../../../assets/potrait_pic.jpeg");
            background-size: cover;
            background-position: -50px 0px;
            .square1{
                z-index: -1;
                position: absolute;
                margin-top: -15%;
                margin-left: 35%;
                width: 75%;
                height: 65%;
                border: 5px solid #fb2f7b;
        }
        }
    }
}
}
@media screen and (max-width:425px) {
    .Instructors{
        .Instructors-container{
            margin-bottom: 105%;
            aside {
                display: block;
                position: relative;
                font-size: 115%;
                padding-right: 15%;
                margin: 40px 0;
                border-left: 34px solid #f2dde5 ;
                padding-left: 10%;
              }
              p{
                text-align: right;
                font-size: 160%;
                margin-right: -10%;
              }
              aside h3 {
                padding-left: 15%;
                font: bold 12px Sans-Serif;
                letter-spacing: 2px;
                text-transform: uppercase;
                background: white;
                color: #241b1e;
                padding: 5px 10px;
                position: absolute;
                top: 0;
                left: 0;
                /* Border is the new background */
                background: none;
                /* Rotate from top left corner (not default) */
                transform-origin: 0 0;
                transform: rotate(90deg);
                margin: 0 0 10px 0;
                line-height: 24px;
              }
            .Instructors-Img{
                position: absolute;
                width: 75%;
                margin-top: 5%;
                margin-left: 10%;
                height: 35%;
                border: 10px solid rgb(255, 161, 161);
                background-image: url("../../../assets/potrait_pic.jpeg");
                background-size: cover;
                .square1{
                    z-index: -1;
                    position: absolute;
                    margin-top: -15%;
                    margin-left: 35%;
                    width: 75%;
                    height: 65%;
                    border: 5px solid #fb2f7b;
            }
            }
        }
    }
}