.nav-Back{
  background-color: rgba(255, 161, 161, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  width: 100%;
  position: fixed;
  top: 0;
  .navbar-brand{
    font-size: 2.5rem;
    margin-left: 5%;
  }
  .logo{
    position: relative;
    color: white;
    img{
      width: 50px;
    }
  }
  .navbar-collapse{
    .navbar-nav{
      padding-left: 38%;
      color: white;
      .nav-item{
        white-space: nowrap;
        font-size: 1.5rem;
        padding-left: 0.5rem;
        padding-right: 0px;
      .hover-underline-animation {
        display: inline-block;
        position: relative;
        color: white;
        cursor: pointer;
      }
      
      .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        bottom: 0;
        left: 0;
        background: linear-gradient(30deg,#fb2f7b, #ff845d);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
    
      .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
    }
  }
}