@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
@media screen and (min-width:426px){
.Hero{
    background-color: #FFA1A1;
.gradient{
    width: 100%;
    height: 5%;
    position: absolute;
    background: linear-gradient(180deg,#ffa1a1,white);
}
.Hero-title{
    position: relative;
    p{
        color: white;

        margin-top: -10%;
        padding-top: 13%;
        margin-bottom: 2%;
        font-family: 'El Messiri', sans-serif;
        font-size:1655%;
    }
    img{
        margin-top: -5%;
        width: 15%;
    }
}
.Hero-content{
    display: flex;
    padding-left: 9%;
    .Hero-slogan{
        span{
            background: -webkit-linear-gradient(30deg,#fb2f7b, #ff845d);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        position: absolute;
        text-align: left;
        padding-right: 65%;
        font-size: 205%;
        color: white;
    }
    .Hero-buttons{
        margin-bottom: 10%;
        .button_1_HH{
            color:"white";border: 0;background:linear-gradient(30deg,#fb2f7b, #ff845d);
            margin-left: 165%;
        }
        .button_2_HH{
            background-color:"white";border: 0;
            margin-left: 65%;
            white-space: nowrap;
        }
        margin-left: 20%;
        align-items: flex-end;
        display: flex;
    }
}
}
}
@media screen and (max-width:425px) {
    .Hero{
        background-color: #FFA1A1;
        width: 100%;
    .Hero-title{
        position: relative;
        justify-content: center;
        p{
            color: white;
            margin-top: 0%;
            padding-top: 13%;
            margin-bottom: 2%;
            font-family: 'El Messiri', sans-serif;
            font-size:365%;
        }
        img{
            margin-top: -5%;
            width: 15%;
        }
    }
    .Hero-content{
        display: flex;
        flex-direction: column;
        padding-bottom: 20%;
        .Hero-slogan{
            span{
                background: -webkit-linear-gradient(30deg,#fb2f7b, #ff845d);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            justify-content: start;
            text-align: left;
            margin-bottom: 50%;
            font-size: 105%;
            color: white;
        }
        .Hero-buttons{
            display: flex;
            width: 25%;
            flex-direction: column;
            justify-content: center;
            .button_1_HH{
                margin-top: 45%;
                color:"white";border: 0;background:linear-gradient(30deg,#fb2f7b, #ff845d);
                margin-bottom: 15%;
            }
            .button_2_HH{
                background-color:"white";border: 0; 
            }
            h3{
                font-size: 95%;
            }
            margin-bottom: 10%; 
            margin-left: 37%;
        }
    }
    }
}