.Hero-title{
    .hero_p{
        color: white;
        margin-top: -15%;
        padding-top: 13%;
        margin-left: -69%;
        margin-bottom: 2%;
        font-family: 'El Messiri', sans-serif;
        font-size:455%;
    }
    img{
        margin-top: -2%;
        width: 5%;
    }
}
@media screen and (max-width:425px){
    .Hero-title{
        .hero_p{
            color: white;
            margin-top: -15%;
            padding-top: 13%;
            margin-left: -0%;
            margin-bottom: 2%;
            font-family: 'El Messiri', sans-serif;
            font-size:455%;
        }
        img{
            margin-top: -7%;
            width: 20%;
        }
    }
}